
<h4> Bay Area Raised Since Age 10, Originally from Mexico City 
 </h4>
 <%#= image_tag "mexico.jpg"%>
 <%#= image_tag "usa.png" %>

<h4 style="padding:3px 60px;line-height:130%;">Idea-executor & self-taught developer redesigning how software benefits society & businesses. With 3 years coding in Ruby & Python, 2 web projects live and 6 years of experience working in a startup environment. Self-driven team player passionate about learning, discipline & creativity. </h4>





