
<h4> Bay Area Raised Since Age 10 
 </h4>
 <%#= image_tag "mexico.jpg"%>
 <%#= image_tag "usa.png" %>

<h4> SFSU Graduate, BA in Electronic Media with Minor in Marketing </h4>

<p> * Self-taught Developer Since 2013 </p>

