</br>
<h4> V: HTML, CSS, JavaScript, Bootstrapp, Sass (Currently learning ReactJs)</h4>

<h4> MC: Ruby, Ruby on Rails, Php (Currently learning Java)</h4>

<p> Cloud: Heroku, Google Apps </p>

<h4><b><ins>Metrics</ins></b></h4>

<p> Google Analytics </p>