<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">


  <a class="navbar-brand" href=<%= root_path(:page => 1) %>>

    <p style="font-family: 'Limelight', cursive;letter-spacing: 2px; font-size:1.3em;" >Hector Moreno Bravo - <i>Fullstack Developer</i></p></a>

    <ul class="nav navbar-nav navbar-right">
       <%#<img alt="Hector Moreno Bravo" <%#src="/assets/train.png" %>

        </ul> 
      </div>


</div>
</div>

</nav>    
  