<div id="projects">

</br>
<div class="row">


    <div class="thumbnail">
    </br>
      <img src="/assets/djkiesco.png" alt="DJ Kiesco">
        <h3>DJ Kiesco</h3>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p> <b style="color:#1E90FF">Features: </b>Create Events, Replicate & Collect Follower Emails </p>

        <p><a href="https://www.djkiesco.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a> </p>
    </div>


    <div class="thumbnail">
    </br>
      <img src="/assets/skilletzcafe.png" alt="Skillet'z Cafe in Fremont">
        <h3>Family Restaurant </h3>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p><b style="color:#1E90FF"> Features: </b> Social Media API for Displaying Events & Specials </p>
        <p><a href="https://www.skilletz-cafe.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
    </div>

    <div class="thumbnail">
    </br>
      <img src="/assets/mydacastory.png" alt="MyDACAstory.com">
        <h3>MyDACAStory.com</h3>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p><b style="color:#1E90FF"> Features: </b> Easily Share DACA Stories on Social Media Outlets & Automatically Tag Moderate Congressmembers to Pass the Dream Act Legislation </p>

        <p><a href="https://www.mydacastory.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
    </div>

    <div class="thumbnail">
    </br>
      <img src="/assets/LuzDeLunaClient.png" alt="Luz de Luna Mission District">
        <h3>Coming Soon: Luz De Luna Store </h3>
        <p>RoR with Bootstrap, JavaScript & Sass</p>

        
    </div>

    <div class="thumbnail">
    </br>
      <img src="/assets/blondiesclient.png" alt="Blondie's Bar Mission District">
        <h3>Coming Soon: Blondie's Bar</h3>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
    
       
    </div>

</div>
</div>