</br>
<p> Turn a Dollar Bill Into an Elephant with an Eye </p>
<%# INSERT PICTURE %>
</br>
<%= image_tag "dollar.jpg", class: "picture" %>
<%= image_tag "elephant.jpg", class: "picture" %>
</br>
</br>

<p> DJ </p>
<%# INSERT PICTURE %>

</br>
<%= image_tag "dj_kiesco2.jpg", class: "picture" %>

</br>
</br>
<p> Cook Amazing Tacos  </p>
</br>

<%= image_tag "tacos.jpg", class: "picture" %>

<%# INSERT PICTURE %>

</br>
</br>


<h4><ins> Other Activities</ins>: Soccer, Chess, Volunteering </h4>


</br>
</br></br>
</br>