</br>
<p> Turn a Dollar Bill Into an Elephant with an Eye </p>
<%# INSERT PICTURE %>

<p> DJ </p>
<%# INSERT PICTURE %>

<p> Cook Amazing Tacos  </p>
<%# INSERT PICTURE %>



<h4><ins> Other Activities</ins>: Soccer, Chess, Activism </h4>


